/* background images for different planets */
.privacy-planet-background {
  background-image: url('../img/backgrounds/privacy-planet-background.png');
  -webkit-text-stroke: 0;
  text-shadow: none;
}

.privacy-moon-background {
  background-image: url('../img/backgrounds/privacy-moon-background.png');
  -webkit-text-stroke: 0;
  text-shadow: none;
}



/* styles */
.lesson-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.lesson-content {
  position: relative;
  display: flex;
}

.message-box-bottom-container {
  position: relative;
  height: 100%;
  flex-direction: column;
}

.message-box-right-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.alert-header-container {
  position: relative;
  height: 85%;
  flex-direction: column-reverse;
  align-self: center;
}

/* characters */
.message-box-bottom-container .character-container {
  position: absolute;
  bottom: 25vh;
  width: 100%;
  z-index: 1;
}

.character {
  height: 30rem;
}

.message-box-bottom-container .character {
  position: absolute;
  bottom: 0;
}

.message-box-right-container .character {
  margin: auto;
}

.character-left {
  left: 5%;
}

.character-center {
  left: 50%;
  transform: translateX(-50%);
}

.character-right {
  right: 5%;
}

.character-flip {
  transform: scaleX(-1);
}

.message-box-bottom-container .character-l {
  height: 40rem;
}

.character-s {
  height: 25rem;
  bottom: 10%;
}

/* encounter enemy characters */
.alert-header-container .character-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.character-left-1 {
  position: relative;
  top: 10vh;
}

.character-left-last {
  margin-right: 200px;
}

.arrow-character {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 50px; */

  position: relative;
  top: -10vh;
}

.arrow-character .character {
  height: 20rem;
  cursor: pointer;
}

.arrow-character .character:hover {
  transform: scale(1.05);
}

.character-right-1 {
  top: -5vh;
}

.character-right-2 {
  top: -10vh;
}

.character-right-3 {
  top: -15vh;
}

/* text / message box */
.text-container {
  font-size: 1.5rem;
  color: black;
}

.message-box-bottom-container .text-container {
  position: absolute;
  left: 50%;
  bottom: 15vh;
  transform: translateX(-50%);
  width: 90%;
  height: 17.5rem;
  z-index: 2;
}

.vocab-word {
  text-decoration: dotted underline overline;
}

.vocab-word:hover {
  cursor: pointer;
  color: blue;
}

/* vocab popup */
.vocab-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.vocab-popup {
  background-color: #B8DEFF;
  color: #02101b;
  min-height: 15vh;
  max-height: 40vh;
  min-width: 15vw;
  max-width: 50vw;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 1.5rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.vocab-popup h3 {
  margin-top: 0;
  font-size: 2rem;
}

.vocab-popup p {
  line-height: 1.5;
}

/* speaker name on text box */
.speaker-name {
  position: absolute;
  background-color: white;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.speaker-right {
  top: 0;
  right: 0;
  transform: translate(-20px, -20px);
}

.speaker-left {
  top: 0;
  left: 0;
  transform: translate(20px, -20px);
}

.message-box {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #B8DEFF;
  border-radius: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.red-text {
  color: #E14733;
}

.underline-text {
  text-decoration: underline;
}

.alert-header {
  background-color: transparent;
}

.message-box-right-container {
  height: 70%;
  margin-top: 2rem;
}

.message-box-bottom-container .lesson-text, .message-box-right-container .lesson-text {
  width: 90%;
  font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #386F95 #f1f1f1;
  margin-bottom: 10px;
}

.alert-header-container .text-container {
  position: relative;
  top: -10vh;
}

.alert-header .lesson-text {
  font-size: 4rem;
  color: #E0EBF7;
  -webkit-text-stroke: 3px #D1495B;
}

/* buttons */
.button-container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: flex-start;
  bottom: 0;
  padding-top: 10px;
  margin-bottom: 20px;
}

.lesson-button {
  border: 0.2rem solid #0F746F;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  color: #0F746F;
  text-decoration: none;
}

.lesson-button:hover {
  background-color: white;
}

.next-button {
  margin-left: auto;
}

.next-button:before {
  content: "▶";
}

.prev-button {
  margin-right: auto;
}

.prev-button:before {
  content: "◀";
}